@import url("https://fonts.googleapis.com/css2?family=Arbutus&family=Chonburi&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Quattrocento:wght@400;700&display=swap");

html {
  /* rem relative property */
  font-size: 14px;
}

ul {
  margin: 0px;
}

:root {
  --sideInfo-width: 20rem;
  --mainBody-width: 37rem;
}

#title {
  position: relative;

  font-family: "Arbutus", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
}

#cv {
  position: absolute;
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  bottom: -1rem;
  right: 0px;
}

#ego {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 15%;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#subContainer {
  position: relative;
  display: flex;
}

#sideInfo {
  width: var(--sideInfo-width);
  padding: 0.2rem;

  font-family: "Quattrocento", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
}

#mainBody {
  width: var(--mainBody-width);
}

/* 3 rem wide */
#verticalLine {
  position: relative;
  /* height: 100vh; */
  /* width: 0.4rem; */
  width: 0.2rem;

  background-color: black;
  /* border-radius: 20%; */
  margin-left: 1.9rem;
  margin-right: 1.9rem;
}

.sideInfoTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sideInfoSpace {
  height: 4rem;
  width: 100%;
}

.mainTitle {
  font-family: "Chonburi", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.date {
  margin-top: 2rem;
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
}

.jobTitle {
  font-family: "Chonburi", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
}

.jobPlace {
  font-family: "Quattrocento", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
}
